In [7]:
import os, os.path
import numpy as np
from time import time
import pandas as pd
import math as m
import setup_runs as sr
import importlib
import matplotlib.pyplot as plt
import itertools
import importlib

In [151]:
importlib.reload(sr)

WARNING: gams executable '/usr/local/bin/gams' not found.

In [169]:
#initialization information
use_archive_q = True
#set of futures to keep
set_futures_keep = [12, 21, 94]
#design id to pull futures from
d_id_fixed = 1
ts_id_fixed = 0


arch_read = "Chile_sector_package_2021_02_20_design_id-1"
#read in some data
if use_archive_q:
    df_params = sr.get_archive_run(sr.fp_csv_parameter_ranges, arch_read)
    df_ed = sr.get_archive_run(sr.fp_csv_experimental_design_msec, arch_read)
    df_ed_sv = sr.get_archive_run(sr.fp_csv_experimental_design_msec_single_vals, arch_read)
    df_mas = sr.get_archive_run(sr.fp_csv_attribute_master, arch_read)
    df_ts = sr.get_archive_run(sr.fp_csv_attribute_time_series, arch_read)
else:
    df_params = pd.read_csv(sr.fp_csv_parameter_ranges)
    df_ed = pd.read_csv(sr.fp_csv_experimental_des)
    df_ed_sv = pd.read_csv(sr.fp_csv_experimental_design_msec_single_vals)
    df_mas = pd.read_csv(sr.fp_csv_attribute_master)
    df_ts = pd.read_csv(sr.fp_csv_attribute_time_series)
    

df_0 = df_params[df_params["strategy_id"] == 0][[x for x in df_params.columns if x != "strategy_id"]].copy()
df_1 = df_params[df_params["strategy_id"] == 1][[x for x in df_params.columns if x != "strategy_id"]].copy()

#set the dictionary to map futures_to new time_series_ids 
dict_fixedfut_to_ts = dict([[set_futures_keep[i], max(df_ts["time_series_id"]) + i + 1] for i in range(len(set_futures_keep))])

fields_merge = ["sector", "time_series_id", "parameter"]
fields_data = ["normalize_group", "trajgroup_no_vary_q", "parameter_constant_q", "min_2050", "max_2050"] + [str(x) for x in range(2015, 2051)]

dict_compare = sr.compare_params(df_0, df_1, fields_merge, fields_data)
   
#set of masters to roll into time series ids
df_mas_keep = df_mas[df_mas["future_id"].isin(set_futures_keep)]

#loop over

##############################
Merging on:
	sector
	time_series_id
	parameter
##############################

In [142]:
params_fix = [sr.clean_trajgroup_names(x)["param"] for x in set(df_params["parameter"]) if ("transport_frac_private_" in x) and ("trajgroup" in x)]
params_fix = set(params_fix)

In [143]:
[x for x in list(set(df_params["parameter"])) if "incertidumbre" in x]
params_fix = params_fix | set({"incertidumbre_demanda_productos_forestales", "incertidumbre_rendimiento_plantacion", "incertidumbre_rendimiento_bn"})

In [177]:



#parameters to fix among the futures

#start with trajgrop 6 parameters (grab all parameters for this future)
params_fix = list(sr.get_trajgroup_index(df_params)["parameter"])#[sr.clean_trajgroup_names(x)["param"] for x in set(df_params["parameter"]) if ("trajgroup" in x) and ("lhs" not in x)]
params_fix = set(params_fix)
params_fix = params_fix | sr.get_trajmix_params(df_params)
params_fix_append = [x for x in list(set(df_params["parameter"])) if ("trajgroup" not in x) and not (("trajmax" in x) or ("trajmin" in x) or ("trajmix" in x))]
params_fix = params_fix | set(params_fix_append)
#drop single values since they don't vary by future
params_fix = params_fix - set(df_ed_sv.columns)
params_fix = list(params_fix)
params_fix.sort()

#get trajgroup index
df_trajgroup_index = sr.get_trajgroup_index(df_params)
#all trajgroup/trajmix parameters
all_trajgroup_params = set(df_trajgroup_index["parameter"])
all_trajmix_params = sr.get_trajmix_params(df_params)

#diciontary to map params to trajgroup
dict_params_to_trajgroup = sr.build_dict(df_trajgroup_index[["parameter", "trajgroup"]])


df_params_append = [df_params]

for fut in set_futures_keep:

    #new time series associated with the future that fixes certain parameters
    new_ts = dict_fixedfut_to_ts[fut]

    dfp = df_params.copy()
    #get data that needs to be overwritten
    df_pass = df_ed[(df_ed["design_id"] == d_id_fixed) & (df_ed["future_id"] == fut) & (df_ed["time_series_id"] == ts_id_fixed)][["year", "time_series_id", "strategy_id"] + params_fix]
    #parameter data that will be copied
    df_params_base = df_params[(df_params["time_series_id"] == ts_id_fixed)].copy()

    #any trajectory group params
    params_fix_tgtm = list(set(params_fix) & (all_trajgroup_params | all_trajmix_params))
    params_fix_tgtm.sort()
    #get all ts/strat pairs
    all_strats_to_run = list(set(df_pass["strategy_id"]))
    all_strats_to_run.sort()

    df_new = []
    fields_merge = ["parameter", "strategy_id"]
    #loop to integrate new values because I'm lazy
    for strat in all_strats_to_run:
        #reduce
        df_pass_cur = df_pass[(df_pass["time_series_id"] == ts_id_fixed) & (df_pass["strategy_id"] == strat)].copy()
        years = np.array(df_pass_cur["year"])
        df_pass_cur = df_pass_cur[[x for x in df_pass_cur.columns if (x not in ["year", "time_series_id", "strategy_id"])]]
        #check for params in trajgroups
        if len(params_fix_tgtm) > 0:
            for p in params_fix_tgtm:
                if p in all_trajgroup_params:
                    group = int(dict_params_to_trajgroup[p])
                    str_pre = "trajgroup_" + str(group) + "-"
                else:
                    str_pre = ""
                #strings for the three new parameters
                substr_max = str_pre + "trajmax_" + p
                substr_min = str_pre + "trajmin_" + p
                substr_mix = str_pre + "trajmix_" + p

                #add these to dataframe
                df_pass_cur[substr_max] = df_pass_cur[p]
                df_pass_cur[substr_min] = df_pass_cur[p]
                df_pass_cur[substr_mix] = np.ones(len(df_pass_cur))

        #drop the parameters the dataframe
        df_pass_cur = df_pass_cur[[x for x in df_pass_cur.columns if (x not in params_fix_tgtm)]].transpose()
        nms = list(df_pass_cur.columns)
        dict_rnm = dict([[nms[i], str(years[i])] for i in range(len(nms))])
        df_pass_cur = df_pass_cur.rename(columns = dict_rnm).reset_index().rename(columns = {"index": "parameter"})
        #add information
        df_pass_cur["time_series_id"] = [new_ts for i in range(len(df_pass_cur))]
        df_pass_cur["strategy_id"] = [strat for i in range(len(df_pass_cur))]

        df_new.append(df_pass_cur)

    #create new dataframe
    df_new = pd.concat(df_new, axis = 0).reset_index(drop = True)


    ##  BUILD NEW PARAMETER BLOCK FOR THIS "time_series_id"

    df_to_append = df_params_base[~df_params_base["parameter"].isin(set(df_new["parameter"]))].copy()
    #update the new time series id
    df_to_append["time_series_id"] = df_to_append["time_series_id"].replace({ts_id_fixed: new_ts})

    df_new_base = df_params_base[df_params_base["parameter"].isin(set(df_new["parameter"]))].copy()
    #fields to drop
    fields_drop_from_base = [x for x in df_new_base.columns if (x == "time_series_id") or x.isnumeric()]
    df_new_base = df_new_base[[x for x in df_new_base.columns if x not in fields_drop_from_base]].reset_index(drop = True)
    df_new_base = pd.merge(df_new_base, df_new, how = "left", on = fields_merge)
    #add to the new parameter
    df_to_append = pd.concat([df_to_append, df_new_base], axis = 0).reset_index(drop = True)

    if len(df_params_append) == 0:
        df_params_append.append(df_to_append)
    else:
        df_params_append.append(df_to_append[df_params_append[0].columns])

#add together
df_params_append = pd.concat(df_params_append, axis = 0).reset_index(drop = True).sort_values(by = ["sector", "parameter", "time_series_id", "strategy_id"])

df_params_append.to_csv(sr.fp_csv_parameter_ranges_for_excursion, index = None, encoding = "UTF-8")

In [178]:
df_params_append

,sector,time_series_id,strategy_id,type,parameter,normalize_group,trajgroup_no_vary_q,parameter_constant_q,min_2050,max_2050,...,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050
8,Analytica_agriculture,0,0,incertidumbre,manejo_holistico_de_gando,NaN,NaN,1.0,0.9,1.1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,Analytica_agriculture,0,1,incertidumbre,manejo_holistico_de_gando,NaN,NaN,1.0,0.9,1.1,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
10,Analytica_agriculture,1,0,incertidumbre,manejo_holistico_de_gando,NaN,NaN,1.0,0.9,1.1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,Analytica_agriculture,1,1,incertidumbre,manejo_holistico_de_gando,NaN,NaN,1.0,0.9,1.1,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
4210,Analytica_agriculture,2,0,incertidumbre,manejo_holistico_de_gando,NaN,NaN,1.0,0.9,1.1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5171,transport,2,1,incertidumbre,transport_truck_investment_cost_hydrogen,NaN,NaN,NaN,1.0,1.2,...,101909.146665,99671.358121,97433.569586,95195.781052,92957.992518,90720.203983,88482.415449,86244.626915,84006.838380,81769.049846
6894,transport,3,0,incertidumbre,transport_truck_investment_cost_hydrogen,NaN,NaN,NaN,1.0,1.2,...,109738.531122,107856.623689,105974.716267,104092.808844,102210.901422,100328.993999,98447.086576,96565.179154,94683.271731,92801.364308
6895,transport,3,1,incertidumbre,transport_truck_investment_cost_hydrogen,NaN,NaN,NaN,1.0,1.2,...,109738.531122,107856.623689,105974.716267,104092.808844,102210.901422,100328.993999,98447.086576,96565.179154,94683.271731,92801.364308
8618,transport,4,0,incertidumbre,transport_truck_investment_cost_hydrogen,NaN,NaN,NaN,1.0,1.2,...,112029.952525,110252.200611,108474.448706,106696.696802,104918.944898,103141.192993,101363.441089,99585.689185,97807.937281,96030.185376
8619,transport,4,1,incertidumbre,transport_truck_investment_cost_hydrogen,NaN,NaN,NaN,1.0,1.2,...,112029.952525,110252.200611,108474.448706,106696.696802,104918.944898,103141.192993,101363.441089,99585.689185,97807.937281,96030.185376

In [173]:
dict_fixedfut_to_ts

{12: 2, 21: 3, 94: 4}

In [100]:
#get trajgroup index
df_trajgroup_index = sr.get_trajgroup_index(df_params)
#all trajgroup parameters
all_trajgroup_params = set(df_trajgroup_index["parameter"])

In [176]:
df_ts

,time_series_id,time_series_name,time_series_description
0,0,Supuestos Actuales,Latest projections that include changes in GDP...
1,1,Supuestos NDC,Assumptions associated with the NDC and the mi...

In [179]:

archs = os.listdir(sr.dir_archive)

AttributeError: module 'setup_runs' has no attribute 'dir_archive'