In [3]:
import setup_runs as sr
import pandas as pd
import numpy as np
import os, os.path
import importlib
import shutil
import matplotlib.pyplot as plt

In [46]:

#set ade directory on James machine
dir_ade_beta = "/Volumes/[C] syme-j-PVM.hidden/Users/jsyme/Documents/Projects/SWCHE076-1000/ade_beta"
#set tmp
dir_ade_beta_tmp = os.path.join(dir_ade_beta, "tmp")
#get files that are available
fn_avail_abt = os.listdir(dir_ade_beta_tmp)
#substring identifier
ppi_substr = "pyparams_interface-"
#filter
sectors_read = [x.replace(ppi_substr, "").replace(".csv", "") for x in fn_avail_abt if (".csv" in x) and (ppi_substr in x) and ("._" not in x)]
#dictionary
dict_ppi = {}
#read in 
for sector in sectors_read:
    #
    fp_read = os.path.join(dir_ade_beta_tmp, ppi_substr + sector + ".csv")
    #read 
    df_read = pd.read_csv(fp_read)
    #add to the dictionary
    dict_ppi.update({sector: df_read})


#read in the parameter ranges file
df_param_ranges = pd.read_csv(sr.fp_csv_parameter_ranges)
df_ts = df_param_ranges[["time_series_id", "strategy_id"]].drop_duplicates()

In [47]:
#get all parameters
df_all_params = []
#loop over the keys
for sector in dict_ppi.keys():
    #get unique parameters to build map
    df_tmp = dict_ppi[sector][["pyparams"]].drop_duplicates()
    df_tmp["sector"] = [sector for x in range(len(df_tmp))]
    df_tmp = df_tmp[["sector", "pyparams"]]
    #add to output
    df_all_params.append(df_tmp)
#build dataframe
df_all_params = pd.concat(df_all_params, axis = 0)
#export temprary file
df_all_params.to_csv("/Users/jsyme/Desktop/df_all_params.csv", index = None, encoding = "UTF-8")

In [43]:
p = "especies_exoticas"
sec = "forestry"
df_sub = df_pp[df_pp["parameter"] == p]
secs_sub = list(df_sub["sector"])
pyparam = df_sub[df_sub["sector"] == sec]["pyparams_by_sector"].iloc[0]
dict_ppi[sec]

     Time                pyparams         value
0    2019        IncertidumbrePIB  2.620306e+11
1    2019  IncertidumbrePoblacion  1.910722e+07
2    2019         Recuperacion_BN  0.000000e+00
3    2019        Especies nativas  6.593289e+06
4    2019       Especies exóticas  6.604015e+06
..    ...                     ...           ...
155  2050        IncertidumbrePIB  5.104844e+11
156  2050  IncertidumbrePoblacion  2.162608e+07
157  2050         Recuperacion_BN  1.000000e+00
158  2050        Especies nativas  6.593289e+06
159  2050       Especies exóticas  6.604015e+06

[160 rows x 3 columns]

In [50]:
df_pp = pd.read_csv(sr.fp_csv_attribute_pyparams).dropna(how = "any")
#set of all parameters to denote in param_ranges
all_params = set(df_pp["parameter"])
#initialize dictionary of time series
dict_param_ts = {}
#loop over parameters
for p in all_params:
    #get the subset
    df_sub = df_pp[df_pp["parameter"] == p]
    #get sectors
    secs_sub = list(df_sub["sector"])
    #loop
    for sec in secs_sub:
        #get the py param that is stored in analytica
        pyparam = df_sub[df_sub["sector"] == sec]["pyparams_by_sector"].iloc[0]
        print("##  Starting '%s' in sector '%s' and param '%s'."%(pyparam, sec, p))
        #pull from dat
        df_vals = dict_ppi[sec][dict_ppi[sec]["pyparams"] == pyparam].copy().rename(columns = {"value": sec})
        df_vals = df_vals[["Time", sec]]
        #check
        if len(df_vals) > 0:
            #check for df
            if p in dict_param_ts.keys():
                dict_param_ts[p] = pd.merge(dict_param_ts[p], df_vals, how = "outer", on = "Time")
            else:
                dict_param_ts[p] = df_vals
            
        else:
            print("##  No data found for pypram '%s' in sector '%s' and param '%s'.\n"%(pyparam, sec, p))
            
    #sort
    df_pr_out1[p] = dict_param_ts[p].sort_values(by = ["Time"])

##  Starting 'Incertidumbre_PrecioBovino' in sector 'agriculture' and param 'precio_bovino'.
##  Starting 'pyparams PobRural' in sector 'waste' and param 'poblacion_rural'.
##  Starting 'Incertidumbre_PrecioCerdo' in sector 'agriculture' and param 'precio_cerdo'.
##  Starting 'Incertidumbre_PIB' in sector 'agriculture' and param 'pib'.
##  Starting 'IncertidumbrePIB' in sector 'forestry' and param 'pib'.
##  Starting 'pyparam PIB' in sector 'ippu' and param 'pib'.
##  Starting 'pyparams PIB' in sector 'waste' and param 'pib'.
##  Starting 'Especies nativas' in sector 'forestry' and param 'especies_nativas'.
##  Starting 'pyparam PqeVehicular' in sector 'ippu' and param 'pqe_vehicular'.
##  Starting 'Incertidumbre_PrecioLeche' in sector 'agriculture' and param 'precio_leche'.
##  Starting 'Especies exóticas' in sector 'forestry' and param 'especies_exoticas'.
##  Starting 'pyparams PobUrbana' in sector 'waste' and param 'poblacion_urbana'.
##  Starting 'Incertidumbre_PrecioPollo' in sector 'agriculture' and param 'precio_pollo'.
##  Starting 'Incertidumbre_Poblacion' in sector 'agriculture' and param 'poblacion'.
##  Starting 'IncertidumbrePoblacion' in sector 'forestry' and param 'poblacion'.
##  Starting 'pyparam Poblacion' in sector 'ippu' and param 'poblacion'.
##  Starting 'pyparams Poblacion' in sector 'waste' and param 'poblacion'.
##  Starting 'Incertidumbre_PrecioMaiz' in sector 'agriculture' and param 'precio_maiz'.

In [158]:
#initialize data frame
init_q = True
#set classification for parameters
dict_sector_p = {}
#loop and build
for p in dict_param_ts.keys():
    #fields
    fields_dat = [x for x in dict_param_ts[p].columns if x != "Time"]
    
    if len(fields_dat) == 1:
        field_ext = fields_dat[0]
        
        #add to dictionary
        if p in ["poblacion_rural", "poblacion_urbana"]:
            dict_sector_p.update({p: ("Analytica_all")})
        else:
            dict_sector_p.update({p: ("Analytica_" + field_ext)})
    else:
        #add to dictionary
        dict_sector_p.update({p: ("Analytica_all")})
        #loop over first year to get fields that aren't NA
        fe = []
        for f in fields_dat:
            if not np.isnan(dict_param_ts[p][f].iloc[0]):
                fe.append(f)
        #check for waste
        if "waste" in fe:
            field_ext = "waste"
        else:
            field_ext = fe[0]
    #pull field
    df_tmp = dict_param_ts[p][["Time", field_ext]].copy().rename(columns = {field_ext: p})
    df_tmp = df_tmp[df_tmp["Time"] >= 2015]
    #add to df pr
    if init_q:
        df_pr = df_tmp.copy()
        init_q = False
    else:
        df_pr = pd.merge(df_pr, df_tmp, how = "outer", on = ["Time"])
#sort
df_pr = df_pr.sort_values(by = ["Time"]).reset_index(drop = True)
#fill with earliest values for variables that have no value before 2019
df_pr = df_pr.fillna(method = "bfill")
#integer fields
fields_int = ["poblacion_rural", "poblacion_urbana", "poblacion"]

for fi in fields_int:
    df_pr[fi] = np.array(df_pr[fi]).astype(int)


#get times
times = list(df_pr["Time"])
#build new dictionary
dict_rnm = {}
for i in range(len(times)):
    dict_rnm.update({i: str(times[i])})
#initialize the output
df_pr_out0 = df_pr.transpose().reset_index().rename(columns = {"index": "parameter"})
#drop times
df_pr_out0 = df_pr_out0[df_pr_out0["parameter"] != "Time"].rename(columns = dict_rnm)

#add a dummy to facilitate merge
df_pr_out0["dummy"] = [1 for x in range(len(df_pr_out0))]
df_ts["dummy"] = [1 for x in range(len(df_ts))]
#loop to add
df_pr_out1 = pd.merge(df_pr_out0, df_ts, how = "outer", on = ["dummy"])
#add the sector
df_pr_out1["sector"] = df_pr_out1["parameter"].replace(dict_sector_p)
#add the normalize group
df_pr_out1["normalize_group"] = [np.nan for x in range(len(df_pr_out1))]
#add in the min/max ranges
df_pr_out1["min_2050"] = [0.8 for x in range(len(df_pr_out1))]
df_pr_out1["max_2050"] = [1.2 for x in range(len(df_pr_out1))]
df_pr_out1["type"] = ["incertidumbre" for x in range(len(df_pr_out1))]

#sort in same order as parameter_ranges.csv
df_pr_out1 = df_pr_out1[df_param_ranges.columns]
df_pr_out1 = df_pr_out1.sort_values(by = ["sector", "parameter", "time_series_id", "strategy_id"])


#write output to temporary file
df_pr_out1.to_csv(sr.fp_csv_parameter_ranges_for_analytica_base, index = None, encoding = "UTF-8")

In [165]:
df_prin = pd.read_csv(sr.fp_csv_parameter_ranges)
df_prin = df_prin.dropna(how = "all")
for f in [x for x in df_prin.columns if "_id" in x]:
    df_prin[f] = np.array(df_prin[f]).astype(int)
df_prin["strategy_id"] = df_prin["strategy_id"].replace({3: 1})

In [168]:
df_prin.to_csv(sr.fp_csv_parameter_ranges, index = None, encoding = "UTF-8")

In [235]:
dict_param_ts.keys()

dict_keys(['precio_bovino', 'poblacion_rural', 'precio_cerdo', 'pib', 'especies_nativas', 'pqe_vehicular', 'precio_leche', 'especies_exoticas', 'poblacion_urbana', 'precio_pollo', 'poblacion', 'precio_maiz'])

In [237]:
dict_param_ts["pib"]

    Time   agriculture      forestry        ippu       waste
61  1950           NaN           NaN         NaN    0.000000
62  1951           NaN           NaN         NaN    0.000000
63  1952           NaN           NaN         NaN    0.000000
64  1953           NaN           NaN         NaN    0.000000
65  1954           NaN           NaN         NaN    0.000000
..   ...           ...           ...         ...         ...
27  2046  4.716087e+11  4.716087e+11  471.608701  471.608701
28  2047  4.810409e+11  4.810409e+11  481.040875  481.040875
29  2048  4.906617e+11  4.906617e+11  490.661692  490.661692
30  2049  5.004749e+11  5.004749e+11  500.474926  500.474926
31  2050  5.104844e+11  5.104844e+11  510.484425  510.484425

[101 rows x 5 columns]

In [195]:
na[[0, 1, 2, 11]]

array([0.62409724, 0.36808129, 0.00224773, 0.76759379])

In [194]:
na

array([0.62409724, 0.36808129, 0.00224773, 0.39330408, 0.6806366 ,
       0.03117054, 0.58312439, 0.42202262, 0.65980498, 0.70567723,
       0.79640044, 0.76759379])

In [184]:
import random

In [197]:
l1 = list(range(8)) + list(range(19, 23))

In [198]:
l1.index(19)

8

In [201]:
l1[8]

19

In [239]:
arr = np.array([[random.uniform(0, 5) for x in range(4)] for y in range(6)])
arr2 = np.array([[round(random.uniform(19, 22)) for x in range(2)] for y in range(2)])
ind = [1, 3, 9, 11]

In [224]:
np.put(arr, ind, arr2)

In [241]:
arr*np.array([1, 2, 8, 8])

array([[ 0.05711977,  5.55362369, 39.86983035, 25.13210225],
       [ 3.86708174,  1.14566833, 33.44991263, 36.20697667],
       [ 2.38849067,  1.36488665,  3.41561585, 38.31684216],
       [ 0.46385273,  6.68942283, 24.77102954, 12.36822671],
       [ 2.12238783,  8.33738646, 19.22091035, 39.24243893],
       [ 3.77547682,  4.96985813, 33.77458126, 27.59241696]])

In [244]:
arr

array([[0.05711977, 2.77681185, 4.98372879, 3.14151278],
       [3.86708174, 0.57283416, 4.18123908, 4.52587208],
       [2.38849067, 0.68244332, 0.42695198, 4.78960527],
       [0.46385273, 3.34471141, 3.09637869, 1.54602834],
       [2.12238783, 4.16869323, 2.40261379, 4.90530487],
       [3.77547682, 2.48492906, 4.22182266, 3.44905212]])

In [229]:
pd.DataFrame(list(range(12)) + [np.nan, np.nan] + list(range(5)), columns = ["test"]).dropna()

    test
0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
10  10.0
11  11.0
14   0.0
15   1.0
16   2.0
17   3.0
18   4.0

In [232]:
dict_funs = {1: sum, 2: statistics.mean}

In [231]:
import statistics

In [233]:
for k in dict_funs.keys():
    print(dict_funs[k](list(range(6))))

15
2.5

In [249]:
(("%s,"*36)%tuple(range(2015, 2051)))

'2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,'

(2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023,
 2024,
 2025,
 2026,
 2027,
 2028,
 2029,
 2030,
 2031,
 2032,
 2033,
 2034,
 2035,
 2036,
 2037,
 2038,
 2039,
 2040,
 2041,
 2042,
 2043,
 2044,
 2045,
 2046,
 2047,
 2048,
 2049,
 2050)

In [255]:
ls = os.listdir(os.path.join(os.path.dirname(os.path.dirname(sr.dir_model)), "ssh", "download", "pmr_data_output_20201022"))
ls.sort()
ls

['salida_emisiones.csv',
 'salida_emisiones_ge.csv',
 'solucion_barras.csv',
 'solucion_demanda_barra.csv',
 'solucion_demanda_no_suminstrada.csv',
 'solucion_detalle_costos.csv',
 'solucion_emisiones.csv',
 'solucion_emisiones_co2e.csv',
 'solucion_emisiones_ge.csv',
 'solucion_emisiones_ge_co2e.csv',
 'solucion_energia.csv',
 'solucion_expansion_lineas.csv',
 'solucion_flujos.csv',
 'solucion_flujos_bloques.csv',
 'solucion_generacion.csv',
 'solucion_generacion_anual.csv',
 'solucion_lineas.csv',
 'solucion_offset.csv',
 'solucion_potencia.csv',
 'solucion_recaudacion_impuesto.csv',
 'solucion_resumen_costos.csv',
 'solucion_resumen_costos_sin_tasa.csv',
 'solution_generation_sector.csv']

In [263]:
dir_out_gams = os.path.join(os.path.dirname(os.path.dirname(sr.dir_model)), "ssh", "download", "pmr_data_output_20201022")

df_gams_emissions = pd.read_csv(os.path.join(dir_out_gams, "solucion_emisiones_ge_co2e.csv"))

In [268]:
df_ge = df_gams_emissions[["GEI", "agno", "emisiones"]].groupby(by = ["GEI", "agno"]).agg({"GEI": "first", "agno": "first", "emisiones": "sum"})
df_ge = df_ge.reset_index(drop = True)

In [273]:
df_ge[df_ge["GEI"] == "CO2                           "]

                               GEI  agno  emisiones
34  CO2                             2017      32.18
35  CO2                             2018      34.18
36  CO2                             2019      33.09
37  CO2                             2020      36.23
38  CO2                             2021      29.50
39  CO2                             2022      33.46
40  CO2                             2023      36.33
41  CO2                             2024      31.16
42  CO2                             2025      29.28
43  CO2                             2026      27.82
44  CO2                             2027      26.58
45  CO2                             2028      26.98
46  CO2                             2029      25.49
47  CO2                             2030      23.73
48  CO2                             2031      19.92
49  CO2                             2032      19.28
50  CO2                             2033      18.90
51  CO2                             2034      17.65
52  CO2                             2035      16.98
53  CO2                             2036      15.91
54  CO2                             2037      15.15
55  CO2                             2038      13.07
56  CO2                             2039      10.90
57  CO2                             2040       5.60
58  CO2                             2041       2.81
59  CO2                             2042       2.89
60  CO2                             2043       2.78
61  CO2                             2044       2.76
62  CO2                             2045       2.79
63  CO2                             2046       2.68
64  CO2                             2047       2.68
65  CO2                             2048       2.65
66  CO2                             2049       2.59
67  CO2                             2050       2.61

In [284]:
dir_out_gams = os.path.join(os.path.dirname(os.path.dirname(sr.dir_model)), "ssh", "download", "pmr_data_output_20201022")

df_gams_emissions = pd.read_csv(os.path.join(dir_out_gams, "solucion_emisiones_ge_co2e.csv"))

#pmr GEIs with non-zero emissions
all_emitters = set(df_gams_emissions[df_gams_emissions["emisiones"] > 0]["GEI"])
df_gams_emissions = df_gams_emissions[df_gams_emissions["GEI"].isin(all_emitters)]
df_gams_emissions["sf_co2e"] = df_gams_emissions["GEI"].replace({"CO2": 1, "N2O": 310})
#multiply through
df_gams_emissions["emissions_co2e"] = np.array(df_gams_emissions["emisiones"]) * np.array(df_gams_emissions["sf_co2e"])

In [289]:
np.array(df_gams_emissions["sf_co2e"])

array(['CO2                           ', 'CO2                           ',
       'CO2                           ', ...,
       'N2O                           ', 'N2O                           ',
       'N2O                           '], dtype=object)

In [290]:
#pmr GEIs with non-zero emissions
all_emitters = set(df_gams_emissions[df_gams_emissions["emisiones"] > 0]["GEI"])
df_gams_emissions = df_gams_emissions[df_gams_emissions["GEI"].isin(all_emitters)]
df_gams_emissions["GEI"] = [x.replace(" ", "") for x in df_gams_emissions["GEI"]]
df_gams_emissions["sf_co2e"] = df_gams_emissions["GEI"].replace({"CO2": 1, "N2O": 310})

In [291]:
 df_gams_emissions

,proceso,GEI,agno,emisiones,sf_co2e
0,LOS_CONDORES,CO2,2017,0.0,1
1,LOS_CONDORES,CO2,2018,0.0,1
2,LOS_CONDORES,CO2,2019,0.0,1
3,LOS_CONDORES,CO2,2020,0.0,1
4,LOS_CONDORES,CO2,2021,0.0,1
...,...,...,...,...,...
107809,ALMACENAMIENTO_IV,N2O,2046,0.0,310
107810,ALMACENAMIENTO_IV,N2O,2047,0.0,310
107811,ALMACENAMIENTO_IV,N2O,2048,0.0,310
107812,ALMACENAMIENTO_IV,N2O,2049,0.0,310
107813,ALMACENAMIENTO_IV,N2O,2050,0.0,310

In [76]:
del df_params

In [87]:
df_params = pd.read_csv(sr.fp_csv_parameter_ranges)
df_params = df_params[~df_params["parameter"].isnull()]

df_pn = pd.read_csv("/Users/jsyme/Downloads/energy 2020_10_03/ref/parameter_ranges.csv")
secs = ["public", "commericial", "transport", "residential", "industry_and_mining"]
#include only new secftors
df_pn = df_pn[df_pn["sector"].isin(secs)]
df_pn["type"] = df_pn["type"].replace({"parameter": "incertidumbre"})
df_pn["strategy_id"] = df_pn["strategy_id"].replace({3: 1})

df_pn = df_pn[(df_pn["time_series_id"] == 0) & (df_pn["strategy_id"].isin([0, 3]))]
params_lose = [x for x in set(df_pn["parameter"]) if "E6T" in x]
df_pn = df_pn[~df_pn["parameter"].isin(params_lose)]
df_pn = df_pn[~df_pn["parameter"].isnull()]

if set(df_pn["strategy_id"]) == set({0}):
    df_pn2 = df_pn.copy()
    df_pn2["strategy_id"] = df_pn2["strategy_id"].replace({0: 1})
    df_pn = pd.concat([df_pn, df_pn2], axis = 0).reset_index(drop = True)
#parameter sets 
params_cur = set(df_params[df_params["sector"].isin(secs)]["parameter"])
params_new = set(df_pn["parameter"])

#remove parameters that are no longer used
df_params = df_params[~df_params.isin(params_cur - params_new)]
#then drop those that are in new file
df_params_1 = df_params[~df_params["parameter"].isin(df_pn["parameter"])]
#add new ones
df_params_out = pd.concat([df_params_1, df_pn[df_params_1.columns]], axis = 0).sort_values(by = ["sector", "parameter", "time_series_id", "strategy_id"]).reset_index(drop = True)
df_params_out = df_params_out[~df_params_out["parameter"].isnull()]

In [86]:
set(df_pn["strategy_id"]) == set({0})

True

In [85]:
df_pn["strategy_id"].unique()

array([0])

In [89]:
len(set(df_params_out["parameter"]))

224

In [92]:
df_params_out.to_csv(sr.fp_csv_parameter_ranges, index = None, encoding = "UTF-8")