In [245]:
import setup_runs as sr
import os, os.path
import pandas as pd
import numpy as np
import pyDOE as pyd
import time
import sys

#export files?
export_ed_files_q = True



##########################################
###                                    ###
###    GENERATE EXPERIMENTAL DESIGN    ###
###                                    ###
##########################################

print("Starting build of components for experimental design.")


#number of lhs samples
n_lhs = sr.dict_init["n_lhs"]
#set baseline strategy
strat_baseline = 0#[x for x in sr.dict_strat.keys() if sr.dict_strat[x]["strategy_id"] == 0][0]

###   SOME ATTRIBUTE TABLES
df_attribute_design_id = pd.read_csv(sr.fp_csv_attribute_design)
#reduce
df_attribute_design_id = df_attribute_design_id[df_attribute_design_id["include"] == 1]
#get time series id
df_attribute_time_series_id = pd.read_csv(sr.fp_csv_attribute_time_series)


print("Check: export_ed_files_q = " + str(export_ed_files_q))
print("Check: n_lhs = " + str(n_lhs))

    


#################################
#    MULTI SECTOR COMPONENTS    #
#################################


###   GET THE PARAMETER TABLE

#read in uncertainty table for additional sectors
if not sr.excursion_q:
    parameter_table_additional_sectors = pd.read_csv(sr.fp_csv_parameter_ranges)
else:
    parameter_table_additional_sectors = pd.read_csv(sr.fp_csv_parameter_ranges_for_excursion)
#reduce
parameter_table_additional_sectors = parameter_table_additional_sectors[parameter_table_additional_sectors["type"].isin(["incertidumbre", "accion"])]
#add field
parameter_table_additional_sectors["variable_name_lower"] = [x.lower().replace(" ", "_") for x in list(parameter_table_additional_sectors["parameter"])]
#fill nas and set to integer
parameter_table_additional_sectors["parameter_constant_q"] = parameter_table_additional_sectors["parameter_constant_q"].fillna(0)
parameter_table_additional_sectors["parameter_constant_q"] = np.array(parameter_table_additional_sectors["parameter_constant_q"]).astype(int)
#initialize available groups
groups_norm = set([int(x) for x in parameter_table_additional_sectors["normalize_group"] if not np.isnan(x)])

# IDENTIFY PARAMETERS THAT DO NOT VARY
df_apn = parameter_table_additional_sectors[["variable_name_lower", "min_2050", "max_2050"]].copy().drop_duplicates().reset_index(drop = True)
#initialize the set
all_params_novary = set({})
#loop to build
for p in df_apn["variable_name_lower"].unique():
    df_apn_tmp = df_apn[df_apn["variable_name_lower"] == p]
    #check to see if it doesn't vary
    if len(df_apn_tmp) == 1:
        if float(df_apn_tmp["min_2050"].iloc[0]) == float(df_apn_tmp["max_2050"].iloc[0]):
            if float(df_apn_tmp["min_2050"].iloc[0]) == 1.0:
                all_params_novary = all_params_novary | set({p})
#all parameters that vary
all_params_vary = set(parameter_table_additional_sectors["variable_name_lower"]) - all_params_novary




###   NORMALIZATION GROUP IDS

group_id = parameter_table_additional_sectors[["type", "parameter", "normalize_group"]].drop_duplicates()
#build normalize group and lever group ids (for deltas)
norm_vec = []

if len(groups_norm) > 0:
    #starting point for new group
    ind_group = max(groups_norm) + 1
else:
    ind_group = 1
    
#loop over rows
for i in range(0, len(group_id)):
    #get current group
    group_cur = group_id["normalize_group"].iloc[i]
    #test for NaN
    if np.isnan(group_cur):
        norm_vec = norm_vec + [ind_group]
        #next iteration
        ind_group += 1
    else:
        norm_vec = norm_vec + [int(group_cur)]

#add to group_id data frame
group_id["norm_group_id"] = norm_vec
group_id = group_id.reset_index(drop = True)


###   LEVER GROUP IDS

#temporary data frame to build lever group id with
group_id_tmp = group_id[["type", "norm_group_id"]].drop_duplicates()
group_id_tmp = group_id_tmp[group_id_tmp["type"].isin(["Accion", "accion"])]
group_id_tmp["lever_group_id"] = range(1, len(group_id_tmp) + 1)
if "lever_group_id" not in group_id.columns:
    group_id = pd.merge(group_id, group_id_tmp[["norm_group_id", "lever_group_id"]], how = "left", left_on = ["norm_group_id"], right_on = ["norm_group_id"])
#reduce
group_id = group_id[["parameter", "type", "norm_group_id", "lever_group_id"]]
#replace nas
group_id = group_id.fillna({"lever_group_id": -1})
#integer
group_id["lever_group_id"] = [int(x) for x in list(group_id["lever_group_id"])]
#merge in
group_id  = pd.merge(group_id, parameter_table_additional_sectors[["parameter", "variable_name_lower"]], how = "left", left_on = ["parameter"], right_on = ["parameter"])
group_id = group_id.drop_duplicates()
group_id = group_id[["parameter", "type", "variable_name_lower", "norm_group_id", "lever_group_id"]]



###   MERGE BACK IN TO PTAS AND CLEAN NAMES/DATA

#set merge fields and merge
fields_merge = list(set(parameter_table_additional_sectors.columns).intersection(set(group_id.columns)))
parameter_table_additional_sectors = pd.merge(parameter_table_additional_sectors, group_id, how = "left", left_on = fields_merge, right_on = fields_merge)
#fields to extract
fields_ext = [x for x in parameter_table_additional_sectors if (x not in ["normalize_group"])]
#clean the data frame
parameter_table_additional_sectors = parameter_table_additional_sectors[fields_ext]
#fields that are allowed to be all na
fields_allow_na = ["trajgroup_no_vary_q", "parameter_constant_q", "normalize_group"]
for field in fields_allow_na:
    if field in parameter_table_additional_sectors.columns:
        parameter_table_additional_sectors[field] = np.array(parameter_table_additional_sectors[field].fillna(0)).astype(int)
#drop nas
parameter_table_additional_sectors = parameter_table_additional_sectors.dropna(axis = 1, how = "all")

#dictionary to rename
dict_ptas_rename = dict([[x, x.lower().replace(" ", "_")] for x in parameter_table_additional_sectors.columns])
#set type
parameter_table_additional_sectors = parameter_table_additional_sectors.rename(columns = dict_ptas_rename)

#parameters to index
fields_add_sec_all_vals = ["strategy_id", "type", "parameter", "sector", "norm_group_id", "lever_group_id"]
#get parameter years that are defined
param_years_add_sec = [float(x) for x in parameter_table_additional_sectors.columns if x.replace(".", "").isnumeric()]
param_years_add_sec = [int(x) for x in param_years_add_sec if (int(x) == x)]

#initialize for all parameters
all_vals_add_sec = {
    "param_years": param_years_add_sec,
    "future_id": list(range(1, n_lhs + 1)),
    "design_id": list(df_attribute_design_id["design_id"]),
    "time_series_id": list(set(df_attribute_time_series_id["time_series_id"]) & set(parameter_table_additional_sectors["time_series_id"]))
}
#sort some
all_vals_add_sec["time_series_id"].sort()

#loop
for field in fields_add_sec_all_vals:
    #set the field name
    str_field = field.lower().replace(" ", "_")
    #
    if field in ["lever_group_id", "norm_group_id"]:
        set_field = set([x for x in parameter_table_additional_sectors[field] if x > 0])
    else:
        set_field = set(parameter_table_additional_sectors[field])
    #update the dictionary
    all_vals_add_sec.update({str_field: set_field})

    
    
    
###################################
#    GENERATE ATTRIBUTE TABLES    #
###################################

###   RUN ID
df_attribute_run_id_0 = [(x, y) for x in sr.df_strat["strategy_id"] for y in ([0] + all_vals_add_sec["future_id"])]
df_attribute_run_id = pd.DataFrame(df_attribute_run_id_0)
df_attribute_run_id = df_attribute_run_id.rename(columns = {0: "strategy_id", 1: "future_id"})
df_attribute_run_id["run_id"] = range(0, len(df_attribute_run_id))
df_attribute_run_id = df_attribute_run_id[["run_id", "strategy_id", "future_id"]]

if export_ed_files_q:
    #note/export
    print("Exporting run_id attribute to " + sr.fp_csv_attribute_runs)
    df_attribute_run_id.to_csv(sr.fp_csv_attribute_runs, index = None)

###   MASTER ID
df_attribute_master_id = [[x] + [y] + list(z) for x in all_vals_add_sec["design_id"] for y in all_vals_add_sec["time_series_id"] for z in df_attribute_run_id_0]
df_attribute_master_id = pd.DataFrame(df_attribute_master_id)
df_attribute_master_id = df_attribute_master_id.rename(columns = {0: "design_id", 1: "time_series_id", 2: "strategy_id", 3: "future_id"})
fields_df_attribute_master_id = list(df_attribute_master_id.columns)
df_attribute_master_id["master_id"] = list(range(0, len(df_attribute_master_id)))
df_attribute_master_id = df_attribute_master_id[["master_id"] + fields_df_attribute_master_id]
df_attribute_master_id = pd.merge(df_attribute_master_id, df_attribute_run_id, how = "left", on = ["strategy_id", "future_id"])
#fields to order by
fields_ord_dfm = ["master_id", "design_id", "time_series_id", "run_id", "strategy_id", "future_id"]
#reorder
df_attribute_master_id = df_attribute_master_id[fields_ord_dfm].sort_values(by = fields_ord_dfm)

if export_ed_files_q and not sr.tornado_q:
    #note/export
    print("Exporting master_id attribute to " + sr.fp_csv_attribute_master)
    #export
    df_attribute_master_id.to_csv(sr.fp_csv_attribute_master, index = None, encoding = "UTF-8")
    #export for gams
    df_attribute_master_id_gams = df_attribute_master_id[["master_id"]].copy().rename(columns = {"master_id": "Escenarios"})
    df_attribute_master_id_gams.to_csv(sr.fp_csv_gams_data_set_escenarios, index = None, encoding = "UTF-8")
    del df_attribute_master_id_gams

Starting build of components for experimental design.
Check: export_ed_files_q = True
Check: n_lhs = 200
Exporting run_id attribute to /Users/jsyme/Documents/Projects/FY20/SWCHE102-1000/git/MultiSector_LTS_Chile/experimental_design/attribute_runs.csv
Exporting master_id attribute to /Users/jsyme/Documents/Projects/FY20/SWCHE102-1000/git/MultiSector_LTS_Chile/experimental_design/attribute_master.csv

In [203]:
#sr.get_trajgroup_index(parameter_table_additional_sectors)

In [247]:
ts_id_fixed = 0
print("Building excursion design...\n")
#print("#"*30 + "\n###\n###   USING time_series_id '" + str(ts_id_fixed) + "' as reference for strategy in excursion\n###\n" + "#"*30 + "\n\n")
######################################################
###                                                ###
###    BUILD EXCURSION PLOT EXPERIMENTAL DESIGN    ###
###                                                ###
######################################################

all_strats = set(parameter_table_additional_sectors["strategy_id"])
all_strats_comp = all_strats - set({0})


# function that transforms the shape of PTAS data frames
def transform_ptas(df_in, fields_index):
    df_in = df_in[fields_index + ["parameter"] + [x for x in df_in.columns if x.isnumeric()]]
    #indices to loop over
    df_inds = df_in[fields_index].drop_duplicates()

    df_out = []

    for i in range(len(df_inds)):
        dict_subset = {}
        df_cur = df_in.copy()
        #assign subset
        for field in fields_index:
            dict_subset.update({field: int(df_inds[field].iloc[i])})
            #reduce the dataframe
            df_cur = df_cur[df_cur[field] == dict_subset[field]]
        params = list(df_cur["parameter"])
        df_cur = df_cur[[x for x in df_cur.columns if x not in (fields_index + ["parameter"])]]
        df_cur = df_cur.transpose()
        nms = list(df_cur.columns)
        nms = [x for x in nms if (x != "year")]
        dict_rnm = dict([[nms[i], params[i]] for i in range(len(df_cur.columns))])
        df_cur = df_cur.rename(columns = dict_rnm).reset_index().rename(columns = {"index": "year"})
        df_cur["year"] = np.array(df_cur["year"]).astype(int)
        nms = list(df_cur.columns)
        for field in fields_index:
            #reduce the dataframe
            df_cur[field] = [int(dict_subset[field]) for i in range(len(df_cur))]
        df_cur = df_cur[fields_index + nms]
        df_out.append(df_cur)

    df_out = pd.concat(df_out, axis = 0).reset_index(drop = True).sort_values(by = (fields_index + ["year"]))

    return df_out


#initialize dataframe of parameters for strat 0
df_ptas_0 = parameter_table_additional_sectors[parameter_table_additional_sectors["strategy_id"] == 0][[x for x in parameter_table_additional_sectors.columns if x != "strategy_id"]].copy()
df_ptas_0 = df_ptas_0[[x for x in df_ptas_0.columns if (x != "strategy_id")]]
df_ptas_0_transformed = transform_ptas(df_ptas_0, ["time_series_id"])

fields_ptas_ext = ["parameter", "time_series_id"] + [x for x in df_ptas_0.columns if x.isnumeric()]
#fields for the comparison (ignore range changes for this excercise)
fields_merge = ["sector", "time_series_id", "parameter"]
fields_data = ["normalize_group", "trajgroup_no_vary_q", "parameter_constant_q"] + [str(x) for x in range(2015, 2051)]

#initialize
df_out = []
df_fut = []

for strat in list(all_strats_comp):

    print("Building excursion data for strategy " + str(strat) + "...\n")

    #get the table associated with the current table
    df_ptas_cur = parameter_table_additional_sectors[parameter_table_additional_sectors["strategy_id"] == strat][[x for x in parameter_table_additional_sectors.columns if x != "strategy_id"]].copy()
    df_ptas_cur = df_ptas_cur[[x for x in df_ptas_cur.columns if (x != "strategy_id")]]
    df_ptas_cur_transformed = transform_ptas(df_ptas_cur, ["time_series_id"])
    #HERE, RELY ONLY ON THE BASE ASSUMPTIONS
    #df_ptas_cur_transformed = df_ptas_cur_transformed[df_ptas_cur_transformed["time_series_id"] == ts_id_fixed][[x for x in df_ptas_cur_transformed.columns if (x != "time_series_id")]]

    #bigger table to draw from
    df_ptas_main_transformed = pd.merge(df_ptas_0_transformed, df_ptas_cur_transformed, how = "inner", on = ["time_series_id", "year"], suffixes = ("", "-strat"))
    df_ptas_main_transformed["strategy_id"] = [strat for i in range(len(df_ptas_main_transformed))]

    ##  DETERMINE PARAMETERS THAT NEED TO BE INCLUDED IN THE EXCURSION RUN

    dict_compare = sr.compare_params(df_ptas_0, df_ptas_cur, fields_merge, fields_data)


    #get groups of parameters that will vary
    params_vary_tg = [x.split("-")[0] for x in list(dict_compare["params_diff"]) if "trajgroup" in x]
    params_vary_tg = set(params_vary_tg)

    #get trajmax/traj
    params_vary_tm = [x.replace("trajmix_", "").replace("trajmin_", "").replace("trajmax_", "") for x in list(dict_compare["params_diff"]) if ("trajgroup" not in x) and (("trajmax" in x) or ("trajmin" in x) or ("trajmix" in x))]
    params_vary_tm = set(params_vary_tm)

    #get rest of parameters
    params_vary_else = dict_compare["params_diff"] - set([x for x in list(dict_compare["params_diff"]) if ("trajgroup" in x) or ("trajmin" in x) or ("trajmax" in x) or ("trajmix" in x) ])

    #set of parameters to vary
    params_vary_excursion_0 = list(params_vary_tg | params_vary_tm | params_vary_else)
    params_vary_excursion_0.sort()

    #final dictionary of futures
    params_vary_excursion = set({})
    dict_futs_to_params = {}
    dict_fut_names = {}
    i = 1
    for p in list(params_vary_excursion_0):
        if p in list(parameter_table_additional_sectors["parameter"]):
            dict_futs_to_params.update({i: set({p})})
        else:
            dict_futs_to_params.update({i: set([x for x in list(set(parameter_table_additional_sectors["parameter"])) if p in x])})
        dict_fut_names.update({i: p})
        i += 1

    #initialie data frame out
    df_ed_cur = [df_ptas_0_transformed.copy()]
    df_ed_cur[0]["future_id"] = [0 for i in range(len(df_ed_cur[0]))]
    df_ed_cur[0]["strategy_id"] = [strat for i in range(len(df_ed_cur[0]))]

    #initialize future id table
    df_fut.append([strat, 0, "no parameter variation from " + str(sr.dict_strat_id_to_strat[0])])

    for f in dict_futs_to_params.keys():
        #update future attrbute
        df_fut.append([5, f, dict_fut_names[f]])
        #initialize dataframe component
        df_f = df_ptas_main_transformed.copy()

        #get params to pull
        params_overwrite = list(dict_futs_to_params[f])

        for po in params_overwrite:
            df_f[po] = np.array(df_f[po + "-strat"])
        #add future id
        df_f["future_id"] = [f for i in range(len(df_f))]
        df_f = df_f[df_ed_cur[0].columns]
        df_ed_cur.append(df_f)
    df_ed_cur = pd.concat(df_ed_cur, axis = 0)

    if len(df_out) == 0:
        df_out.append(df_ed_cur)
    else:
        df_out.append(df_ed_cur[df_out[0].columns])

df_out = pd.concat(df_out, axis = 0).reset_index(drop = True).sort_values(by = ["time_series_id", "strategy_id", "future_id", "year"])
df_out["design_id"] = [0 for i in range(len(df_out))]

fields_sort_mast = ["design_id", "time_series_id", "strategy_id", "future_id"]
df_attribute_master_id = df_out[fields_sort_mast].drop_duplicates().sort_values(by = fields_sort_mast).reset_index(drop = True)
df_attribute_master_id["master_id"] = np.array(range(len(df_attribute_master_id)))

#add a run id because I'm an idiot
df_attribute_run_id = df_attribute_master_id[["strategy_id", "future_id"]].drop_duplicates()
df_attribute_run_id["run_id"] = list(range(0, len(df_attribute_run_id)))
#merge
df_attribute_master_id = pd.merge(df_attribute_master_id, df_attribute_run_id, how = "left", on = ["strategy_id", "future_id"]).sort_values(by = ["master_id"]).reset_index(drop = True)

fields_scen = [x for x in df_out.columns if (x[-3:] == "_id") and (x != "master_id")]
fields_scen.sort()
fields_scen = ["master_id", "run_id"] + fields_scen + ["year"]
fields_dat = [x for x in df_out.columns if x not in fields_scen]

#merge in master id
df_out = pd.merge(df_out, df_attribute_master_id, how = "left", on = fields_sort_mast)
df_out = df_out[fields_scen + fields_dat]

#build future attribute
df_fut = pd.DataFrame(df_fut, columns = ["strategy_id", "future_id", "parameter"])
#TEMPORARY: THIS IS SETUP TO ONLY WORK WITH ONE STRATEGY
df_fut = df_fut[[x for x in df_fut.columns if x != "strategy_id"]]

Building excursion design...

Building excursion data for strategy 1...




##############################
Dropping data fields from df_old:
	normalize_group
##############################






##############################
Dropping data fields from df_new:
	normalize_group
##############################






##############################
Merging on:
	sector
	time_series_id
	parameter
##############################

In [249]:
df_out

,master_id,run_id,design_id,future_id,strategy_id,time_series_id,year,manejo_holistico_de_gando,medida_biodigestores,medida_cambio_dieta_bovina,...,transport_share_diesel_private,transport_share_diesel_truck,transport_tkm_freight_train,transport_tkm_maritime,transport_train13_pkm,transport_train5_pkm,transport_train8_pkm,transport_trip_distance_private,transport_truck_investment_cost_diesel,transport_truck_investment_cost_hydrogen
0,0,0,0,0,1,0,2015,0.0,1.000000,1.000000,...,0.32,0.68,4.085725e+09,16269710.07,6.024200e+09,3.734554e+08,2.109500e+07,7.000000,71301.85153,148892.050900
1,0,0,0,0,1,0,2016,0.0,1.000000,1.000000,...,0.32,0.68,4.076749e+09,14406115.94,6.115200e+09,3.222044e+08,5.598700e+07,7.000000,71301.85153,148892.050900
2,0,0,0,0,1,0,2017,0.0,1.000000,1.000000,...,0.32,0.68,3.790428e+09,13900761.46,6.242600e+09,3.765498e+08,6.883700e+07,7.000000,71301.85153,148892.050900
3,0,0,0,0,1,0,2018,0.0,1.000000,1.000000,...,0.32,0.68,3.861920e+09,15037440.46,6.552000e+09,3.919202e+08,8.653742e+07,7.000000,71301.85153,148892.050900
4,0,0,0,0,1,0,2019,0.0,1.000000,1.000000,...,0.32,0.68,3.861920e+09,15034340.85,7.387534e+09,3.945716e+08,8.653742e+07,7.000000,71301.85153,148892.050900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3235,89,17,0,17,1,4,2046,0.0,1.248591,0.737085,...,0.32,0.68,4.177841e+09,25176470.46,1.048933e+10,1.957805e+09,8.626908e+07,7.305301,71301.85153,103141.192993
3236,89,17,0,17,1,4,2047,0.0,1.248591,0.737085,...,0.32,0.68,4.189542e+09,25703826.01,1.049553e+10,1.958879e+09,8.625914e+07,7.316608,71301.85153,101363.441089
3237,89,17,0,17,1,4,2048,0.0,1.248591,0.737085,...,0.32,0.68,4.201242e+09,26290278.63,1.050174e+10,1.959953e+09,8.624920e+07,7.327916,71301.85153,99585.689185
3238,89,17,0,17,1,4,2049,0.0,1.248591,0.737085,...,0.32,0.68,4.212943e+09,26809393.18,1.050795e+10,1.961026e+09,8.623926e+07,7.339223,71301.85153,97807.937281
3239,89,17,0,17,1,4,2050,0.0,1.248591,0.737085,...,0.32,0.68,4.224644e+09,27359279.36,1.051416e+10,1.962100e+09,8.622932e+07,7.350530,71301.85153,96030.185376

In [224]:
#df_out[df_out["future_id"].isin([0]) & df_out["year"].isin([2050])][["master_id"] + [x for x in df_out.columns if "transport_frac_private" in x]]


#params_vary_excursion_0
#sr.d(parameter_table_additional_sectors)
#dict_futs_to_params
df_f14[df_f14["year"].isin([2050])][[x for x in df_f14.columns if "transport_frac_aviation_hydro" in x]]

,trajgroup_9-trajmax_transport_frac_aviation_hydrogen,trajgroup_9-trajmin_transport_frac_aviation_hydrogen,trajgroup_9-trajmix_transport_frac_aviation_hydrogen
175,0.1,0.0,1.0
176,0.1,0.0,1.0
177,0.1,0.0,1.0
178,0.1,0.0,1.0
179,0.1,0.0,1.0

In [226]:
df_out[df_out["future_id"].isin([0, 1, 2, 14]) & df_out["year"].isin([2050])][["master_id"] + [x for x in df_out.columns if "transport_frac_aviation_hydro" in x]]

,master_id,trajgroup_9-trajmax_transport_frac_aviation_hydrogen,trajgroup_9-trajmin_transport_frac_aviation_hydrogen,trajgroup_9-trajmix_transport_frac_aviation_hydrogen
35,0,0.0,0.0,0.00001
71,1,0.0,0.0,0.00001
107,2,0.0,0.0,0.00001
539,14,0.1,0.0,1.00000
683,18,0.0,0.0,0.00001
719,19,0.0,0.0,0.00001
755,20,0.0,0.0,0.00001
1187,32,0.1,0.0,1.00000
1331,36,0.0,0.0,1.00000
1367,37,0.0,0.0,1.00000
1403,38,0.0,0.0,1.00000
1835,50,0.1,0.0,1.00000
1979,54,0.0,0.0,1.00000
2015,55,0.0,0.0,1.00000
2051,56,0.0,0.0,1.00000
2483,68,0.1,0.0,1.00000
2627,72,0.0,0.0,1.00000
2663,73,0.0,0.0,1.00000
2699,74,0.0,0.0,1.00000
3131,86,0.1,0.0,1.00000

In [127]:
def transform_ptas(df_in, fields_index):
    df_in = df_in[fields_index + ["parameter"] + [x for x in df_in.columns if x.isnumeric()]]
    #indices to loop over
    df_inds = df_in[fields_index].drop_duplicates()
    
    df_out = []
    
    for i in range(len(df_inds)):
        dict_subset = {}
        df_cur = df_in.copy()
        #assign subset
        for field in fields_index:
            dict_subset.update({field: int(df_inds[field].iloc[i])})
            #reduce the dataframe
            df_cur = df_cur[df_cur[field] == dict_subset[field]]
        params = list(df_cur["parameter"])
        df_cur = df_cur[[x for x in df_cur.columns if x not in (fields_index + ["parameter"])]]
        df_cur = df_cur.transpose()
        nms = list(df_cur.columns)
        nms = [x for x in nms if (x != "year")]
        dict_rnm = dict([[nms[i], params[i]] for i in range(len(df_cur.columns))])
        df_cur = df_cur.rename(columns = dict_rnm).reset_index().rename(columns = {"index": "year"})
        nms = list(df_cur.columns)
        for field in fields_index:
            #reduce the dataframe
            df_cur[field] = [int(dict_subset[field]) for i in range(len(df_cur))]
        df_cur = df_cur[fields_index + nms]
        df_out.append(df_cur)
    
    #df_out = pd.concat(df_out, axis = 1).reset_index(drop = True).sort_values(by = (fields_index + ["year"]))
    
    return df_out

test = transform_ptas(df_ptas_0, ["time_series_id"])

In [177]:
import importlib
importlib.reload(sr)

WARNING: gams executable '/usr/local/bin/gams' not found.

In [139]:
df_ptas_mai_transformed.shape

(72, 1726)

In [61]:
df_ptas_cur[df_ptas_cur["parameter"] == "trajmin_residential_retrofit_house"]

,sector,time_series_id,type,parameter,trajgroup_no_vary_q,parameter_constant_q,min_2050,max_2050,2015,2016,...,2044,2045,2046,2047,2048,2049,2050,variable_name_lower,norm_group_id,lever_group_id
3045,residential,0,incertidumbre,trajmin_residential_retrofit_house,0,0,1.0,1.0,0.0,0.0,...,4937066.0,5144945.0,5353772.0,5563506.0,5774104.0,5985533.0,6197750.0,trajmin_residential_retrofit_house,762,-1
3047,residential,1,incertidumbre,trajmin_residential_retrofit_house,0,0,1.0,1.0,0.0,0.0,...,4937066.0,5144945.0,5353772.0,5563506.0,5774104.0,5985533.0,6197750.0,trajmin_residential_retrofit_house,762,-1

In [43]:
dict_compare["params_diff"]

{'fp_compost',
 'manejo_holistico_de_gando',
 'medida_algas_pardas',
 'medida_aumento_parques_reservas',
 'medida_cambio_dieta_nacional',
 'medida_captura_c_suelos',
 'medida_forestacion_aumentada',
 'medida_manejo_aumentada',
 'medida_pmr_menos_papel',
 'nueva_cap_recuperacion',
 'trajgroup_1-trajmin_copper_heat_diesel',
 'trajgroup_1-trajmin_copper_heat_solar',
 'trajgroup_1-trajmix_copper_heat_diesel',
 'trajgroup_1-trajmix_copper_heat_solar',
 'trajgroup_8-trajmax_steel_heat_biomass',
 'trajgroup_8-trajmax_steel_heat_coal',
 'trajgroup_8-trajmax_steel_heat_coke',
 'trajgroup_8-trajmax_steel_heat_hydrogen',
 'trajgroup_9-trajmax_transport_frac_aviation_hydrogen',
 'trajgroup_9-trajmax_transport_frac_aviation_kerosene',
 'trajgroup_9-trajmix_transport_frac_aviation_hydrogen',
 'trajgroup_9-trajmix_transport_frac_aviation_kerosene',
 'trajmin_residential_retrofit_house',
 'trajmix_residential_retrofit_house'}

In [239]:
df_ed = pd.read_csv(sr.fp_csv_experimental_design_msec)

In [240]:
df_ed[df_ed["future_id"].isin([0, 1, 8, 14]) & df_ed["year"].isin([2050])]

,master_id,run_id,design_id,future_id,strategy_id,time_series_id,year,manejo_holistico_de_gando,medida_biodigestores,medida_cambio_dieta_bovina,...,residential_house_acs_solar,residential_retrofit_house,transport_frac_private_electric,transport_frac_private_gasoline,transport_frac_private_hyb,transport_frac_truck_diesel,transport_frac_truck_hydrogen,transport_frac_aviation_hydrogen,transport_frac_aviation_kerosene,gr_pib
35,0,0,0,0,1,0,2050,0.0,1.000000,1.000000,...,0.634617,1.300148e+06,0.413567,0.395186,0.167123,0.150000,0.850000,0.0,1.0,0.021430
71,1,1,0,1,1,0,2050,0.0,1.000000,1.000000,...,0.634617,1.300148e+06,0.413567,0.395186,0.167123,0.150000,0.850000,0.0,1.0,0.021430
323,8,8,0,8,1,0,2050,0.0,1.000000,1.000000,...,0.634617,1.300148e+06,0.413567,0.395186,0.167123,0.150000,0.850000,0.0,1.0,0.021430
539,14,14,0,14,1,0,2050,0.0,1.000000,1.000000,...,0.634617,1.300148e+06,0.413567,0.395186,0.167123,0.150000,0.850000,0.1,0.9,0.021430
683,18,0,0,0,1,1,2050,0.0,1.000000,1.000000,...,0.634617,1.300148e+06,0.413567,0.395186,0.167123,0.150000,0.850000,0.0,1.0,0.020000
719,19,1,0,1,1,1,2050,0.0,1.000000,1.000000,...,0.634617,1.300148e+06,0.413567,0.395186,0.167123,0.150000,0.850000,0.0,1.0,0.020000
971,26,8,0,8,1,1,2050,0.0,1.000000,1.000000,...,0.634617,1.300148e+06,0.413567,0.395186,0.167123,0.150000,0.850000,0.0,1.0,0.020000
1187,32,14,0,14,1,1,2050,0.0,1.000000,1.000000,...,0.634617,1.300148e+06,0.413567,0.395186,0.167123,0.150000,0.850000,0.1,0.9,0.020000
1331,36,0,0,0,1,2,2050,0.0,0.724423,1.273139,...,0.619178,5.851145e+06,0.261162,0.609661,0.129177,0.266279,0.733721,0.0,1.0,0.017657
1367,37,1,0,1,1,2,2050,0.0,0.724423,1.273139,...,0.619178,5.851145e+06,0.261162,0.609661,0.129177,0.266279,0.733721,0.0,1.0,0.017657
1619,44,8,0,8,1,2,2050,0.0,0.724423,1.273139,...,0.619178,5.851145e+06,0.261162,0.609661,0.129177,0.266279,0.733721,0.0,1.0,0.017657
1835,50,14,0,14,1,2,2050,0.0,0.724423,1.273139,...,0.619178,5.851145e+06,0.261162,0.609661,0.129177,0.266279,0.733721,0.1,0.9,0.017657
1979,54,0,0,0,1,3,2050,0.0,0.905023,1.305354,...,0.675867,3.049155e+06,0.268990,0.599564,0.131445,0.489175,0.510825,0.0,1.0,0.019416
2015,55,1,0,1,1,3,2050,0.0,0.905023,1.305354,...,0.675867,3.049155e+06,0.268990,0.599564,0.131445,0.489175,0.510825,0.0,1.0,0.019416
2267,62,8,0,8,1,3,2050,0.0,0.905023,1.305354,...,0.675867,3.049155e+06,0.268990,0.599564,0.131445,0.489175,0.510825,0.0,1.0,0.019416
2483,68,14,0,14,1,3,2050,0.0,0.905023,1.305354,...,0.675867,3.049155e+06,0.268990,0.599564,0.131445,0.489175,0.510825,0.1,0.9,0.019416
2627,72,0,0,0,1,4,2050,0.0,1.248591,0.737085,...,0.493652,5.871121e+06,0.401424,0.428750,0.169826,0.421818,0.578182,0.0,1.0,0.022052
2663,73,1,0,1,1,4,2050,0.0,1.248591,0.737085,...,0.493652,5.871121e+06,0.401424,0.428750,0.169826,0.421818,0.578182,0.0,1.0,0.022052
2915,80,8,0,8,1,4,2050,0.0,1.248591,0.737085,...,0.493652,5.871121e+06,0.401424,0.428750,0.169826,0.421818,0.578182,0.0,1.0,0.022052
3131,86,14,0,14,1,4,2050,0.0,1.248591,0.737085,...,0.493652,5.871121e+06,0.401424,0.428750,0.169826,0.421818,0.578182,0.1,0.9,0.022052

In [233]:
df_fut = pd.read_csv(sr.fp_csv_attribute_future)
df_fut

    future_id                                  parameter
0           0            no parameter variation from NDC
1           1                                 fp_compost
2           2                  manejo_holistico_de_gando
3           3                        medida_algas_pardas
4           4            medida_aumento_parques_reservas
5           5               medida_cambio_dieta_nacional
6           6                    medida_captura_c_suelos
7           7               medida_forestacion_aumentada
8           8                    medida_manejo_aumentada
9           9                     medida_pmr_menos_papel
10         10                     nueva_cap_recuperacion
11         11                 residential_retrofit_house
12         12                                trajgroup_1
13         13                                trajgroup_8
14         14                                trajgroup_9
15         15       transport_modal_split_private_to_bus
16         16   transport_modal_split_private_to_cycling
17         17  transport_modal_split_private_to_telework