In [1]:
import setup_runs as sr
import pandas as pd
import numpy as np
import os, os.path
import importlib
import shutil
import matplotlib.pyplot as plt

In [5]:
dir_analytica = os.path.join(os.path.dirname(sr.dir_cur), "analytica")
df_params = pd.read_csv(sr.fp_csv_parameter_ranges)
df_pp = pd.read_csv(sr.fp_csv_attribute_pyparams)

dict_read = {}
df_new = []
#files
for sec in ["forestry", "agriculture"]:
    dict_read.update({sec: {}})
    sec_up = sec.upper()
    for t in ["MMA", "Best_Science"]:
        fp_in = os.path.join(dir_analytica, sec, "parameter_ranges-" + sec_up + "-" + t + ".csv")
        df_tmp = pd.read_csv(fp_in, delimiter = ";", encoding = "Latin-1")
        dict_read[sec].update({t: df_tmp.copy()})
        df_new.append(df_tmp)
df_new = pd.concat(df_new, axis = 0)
df_new = df_new[df_new["sector"].isin(["Analytica_forestry", "Analytica_agriculture", "Analytica_all"])].reset_index(drop = True)

#update parameter names
dict_param_repl = sr.build_dict(df_pp[["pyparams_by_sector", "parameter"]])
df_new["parameter"] = df_new["parameter"].replace(dict_param_repl)
df_new["parameter"] = [x.lower().replace(" ", "_").replace("ñ", "gn").replace("_2019", "") for x in list(df_new["parameter"])]
df_new["parameter"] = df_new["parameter"].replace({"sustitucion_y_degradacion": "sustitucion_degradacion"})

df_params_new = df_params[(~df_params["parameter"].isin(df_new["parameter"]))]
#df_params_new =

In [81]:
fields_ext = list(df_params.columns)[0:9] + ["2015", "2023", "2025", "2040", "2050"]

In [7]:
#df_params[(df_params["sector"] == "Analytica_forestry")][fields_ext]
df_new.to_csv("/Users/jsyme/Desktop/tmp_df_new_agfoall.csv", index = None, encoding = "UTF-8")

In [83]:
df_new[(df_new["sector"] == "Analytica_forestry")][fields_ext]

,sector,time_series_id,strategy_id,type,parameter,normalize_group,parameter_constant_q,min_2050,max_2050,2015,2023,2025,2040,2050
0,Analytica_forestry,1,0,accion,incendio_bosque_nativo,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
1,Analytica_forestry,1,1,accion,incendio_bosque_nativo,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
2,Analytica_forestry,1,0,accion,incendio_plantaciones_forestales,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
3,Analytica_forestry,1,1,accion,incendio_plantaciones_forestales,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
4,Analytica_forestry,1,0,incertidumbre,incertidumbre_incendio_bn,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
5,Analytica_forestry,1,1,incertidumbre,incertidumbre_incendio_bn,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
6,Analytica_forestry,1,0,incertidumbre,incertidumbre_incendio_plantaciones,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
7,Analytica_forestry,1,1,incertidumbre,incertidumbre_incendio_plantaciones,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
8,Analytica_forestry,1,0,accion,recuperacion_bn,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
9,Analytica_forestry,1,1,accion,recuperacion_bn,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
10,Analytica_forestry,1,0,accion,sustitucion_degradacion,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
11,Analytica_forestry,1,1,accion,sustitucion_degradacion,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
12,Analytica_forestry,1,0,accion,tierras_convertidas_a_bn,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
13,Analytica_forestry,1,1,accion,tierras_convertidas_a_bn,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
14,Analytica_forestry,1,0,accion,tierras_convertidas_a_plantaciones,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
15,Analytica_forestry,1,1,accion,tierras_convertidas_a_plantaciones,NaN,1.0,0.8,1.2,0.0,0.700000,0.900000,1.000000,1.000000
16,Analytica_forestry,1,0,parametro,var_demanda_legna,NaN,1.0,0.2,1.2,1.0,0.972197,0.963602,0.730396,0.743467
17,Analytica_forestry,1,1,parametro,var_demanda_legna,NaN,1.0,0.2,1.2,1.0,0.972197,0.963602,0.730396,0.743467
18,Analytica_forestry,0,0,accion,incendio_bosque_nativo,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
19,Analytica_forestry,0,1,accion,incendio_bosque_nativo,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
20,Analytica_forestry,0,0,accion,incendio_plantaciones_forestales,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
21,Analytica_forestry,0,1,accion,incendio_plantaciones_forestales,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
22,Analytica_forestry,0,0,incertidumbre,incertidumbre_incendio_bn,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
23,Analytica_forestry,0,1,incertidumbre,incertidumbre_incendio_bn,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
24,Analytica_forestry,0,0,incertidumbre,incertidumbre_incendio_plantaciones,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
25,Analytica_forestry,0,1,incertidumbre,incertidumbre_incendio_plantaciones,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
26,Analytica_forestry,0,0,accion,recuperacion_bn,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
27,Analytica_forestry,0,1,accion,recuperacion_bn,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
28,Analytica_forestry,0,0,accion,sustitucion_degradacion,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
29,Analytica_forestry,0,1,accion,sustitucion_degradacion,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
30,Analytica_forestry,0,0,accion,tierras_convertidas_a_bn,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
31,Analytica_forestry,0,1,accion,tierras_convertidas_a_bn,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
32,Analytica_forestry,0,0,accion,tierras_convertidas_a_plantaciones,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
33,Analytica_forestry,0,1,accion,tierras_convertidas_a_plantaciones,NaN,1.0,0.8,1.2,0.0,0.725000,0.925000,1.000000,1.000000
34,Analytica_forestry,0,0,parametro,var_demanda_legna,NaN,1.0,0.2,1.2,1.0,0.972197,0.963602,0.730396,0.743467
35,Analytica_forestry,0,1,parametro,var_demanda_legna,NaN,1.0,0.2,1.2,1.0,0.972197,0.963602,0.730396,0.743467

In [73]:
set_ag_new = set(df_new[df_new["sector"] == "Analytica_agriculture"]["parameter"])
set_ag_par = set(df_params[df_params["sector"] == "Analytica_agriculture"]["parameter"])
set_fo_new = set(df_new[df_new["sector"] == "Analytica_forestry"]["parameter"])
set_fo_par = set(df_params[df_params["sector"] == "Analytica_forestry"]["parameter"])

set_fo_par - set_fo_new

{'especies_exoticas', 'especies_nativas'}

In [74]:
set_ag_par - set_ag_new

set()

In [60]:
df_pp

,sector,pyparams_by_sector,parameter,ppi_overwrite_scale_factor
0,agriculture,Medida_Biodigestores,medida_biodigestores,NaN
1,agriculture,Medida_CambioDietaBovina,medida_cambio_dieta_bovina,NaN
2,agriculture,Medida_CapturaCsuelos,medida_captura_c_suelos,NaN
3,agriculture,Medida_Usoeficientefertilizante,medida_uso_eficiente_fertilizante,NaN
4,agriculture,Incertidumbre_PIB,pib,1.000000e+09
5,agriculture,Incertidumbre_Poblacion,poblacion,NaN
6,agriculture,Incertidumbre_PrecioBovino,precio_bovino,NaN
7,agriculture,Incertidumbre_PrecioCerdo,precio_cerdo,NaN
8,agriculture,Incertidumbre_PrecioLeche,precio_leche,NaN
9,agriculture,Incertidumbre_PrecioMaiz,precio_maiz,NaN
10,agriculture,Incertidumbre_PrecioPollo,precio_pollo,NaN
11,forestry,Leña Especies exóticas,especies_exoticas,NaN
12,forestry,Leña Especies nativas,especies_nativas,NaN
13,forestry,Incendio Bosque Nativo,incendio_bosque_nativo,NaN
14,forestry,Incendio Plantaciones Forestales,incendio_plantaciones_forestales,NaN
15,forestry,Incertidumbre Incendio BN,incertidumbre_incendio_bn,NaN
16,forestry,Incertidumbre Incendio Plantaciones,incertidumbre_incendio_plantaciones,NaN
17,forestry,IncertidumbrePIB,pib,1.000000e+09
18,forestry,IncertidumbrePoblacion,poblacion,NaN
19,forestry,Recuperacion_BN,recuperacion_bn,NaN
20,forestry,Sustitución y degradación,sustitucion_degradacion,NaN
21,forestry,Tierras convertidas a BN,tierras_convertidas_a_bn,NaN
22,forestry,Tierras convertidas a plantaciones,tierras_convertidas_a_plantaciones,NaN
23,forestry,Var Demanda Leña 2019,var_demanda_legna,NaN
24,ippu,pyparam NuevaCapRecuperacion,nueva_cap_recuperacion,NaN
25,ippu,pyparam PIB,pib,NaN
26,ippu,pyparam Poblacion,poblacion,NaN
27,ippu,pyparam PqeVehicular,pqe_vehicular,NaN
28,waste,pyparams CumplimientoMetas,cumplimiento_metas,NaN
29,waste,pyparams EfCaptura,ef_captura,NaN
30,waste,pyparams PIB,pib,NaN
31,waste,pyparams Poblacion,poblacion,NaN
32,waste,pyparams PobRural,poblacion_rural,NaN
33,waste,pyparams PobUrbana,poblacion_urbana,NaN
34,waste,pyparams PTASAntofa,ptas_antofa,NaN
35,waste,pyparams PTASBiobio,ptas_biobio,NaN
36,waste,pyparams PTASValpo,ptas_valpo,NaN
37,waste,pyparams PTASLSCoq,ptasls_coq,NaN
38,waste,pyparams RSArauc,rs_arauc,NaN
39,waste,pyparams RSAysen,rs_aysen,NaN
40,waste,pyparams RSCoq,rs_coq,NaN
41,waste,pyparams RSMagallanes,rs_magallanes,NaN
42,waste,pyparams RSTarapaca,rs_tarapaca,NaN
43,waste,pyparams RSValpo,rs_valpo,NaN

In [11]:
df_out = pd.read_csv(sr.fp_csv_output_multi_sector_analytica)

In [18]:
df_out[(df_out["master_id"].isin([3, 9])) & df_out["year"].isin([2020, 2050])][[x for x in df_out.columns if ("emissions_total" in x)]]

,ag-emissions_total-mtco2e,fo-emissions_total-mtco2e,ip-emissions_total-mtco2e,wa-emissions_total-mtco2e
113,10.935187,-63.398505,12.672972,4.583495
143,9.788488,-64.336536,9.317610,5.369350
329,10.936984,-63.583045,12.675268,4.583301
359,10.360722,-68.689379,9.216811,5.334071

In [ ]:
### df_mid = pd.read_csv(sr.fp_csv_attribute_master)

In [15]:
df_mid[(df_mid["strategy_id"] == 1) & (df_mid["design_id"] == 0) & (df_mid["future_id"] == 0)]

   master_id  design_id  time_series_id  run_id  strategy_id  future_id
3          3          0               0       3            1          0
9          9          0               1       3            1          0

In [22]:
df_mid[df_mid["time_series_id"] == 1]

    master_id  design_id  time_series_id  run_id  strategy_id  future_id
6           6          0               1       0            0          0
7           7          0               1       1            0          1
8           8          0               1       2            0          2
9           9          0               1       3            1          0
10         10          0               1       4            1          1
11         11          0               1       5            1          2
18         18          1               1       0            0          0
19         19          1               1       1            0          1
20         20          1               1       2            0          2
21         21          1               1       3            1          0
22         22          1               1       4            1          1
23         23          1               1       5            1          2

In [23]:
df_mid = pd.read_csv(sr.fp_csv_attribute_master)

In [31]:
df_an = pd.read_csv(sr.fp_csv_output_multi_sector_analytica)

In [36]:
df_an[(df_an["master_id"].isin([201, 202])) & (df_an["year"] == 2050)]

,master_id,year,ag-aov-aplicación_de_urea-mtco2e,ag-aov-captura_de_c_en_suelo-mtco2e,ag-aov-fermentacion_entérica-mtco2e,ag-aov-gestión_de_estiercol-mtco2e,ag-aov-suelos_agricolas-mtco2e,ag-emissions_total-mtco2e,fo-aov-4a_forestal-mtco2e,fo-aov-4b_cultivo-mtco2e,...,ip-aov-e_industria_electrónica-mtco2e,ip-aov-f_uso_de_productos_de_sao-mtco2e,ip-aov-g_otra_producción_y_usos-mtco2e,ip-emissions_total-mtco2e,wa-aov-a-rsu-mtco2e,wa-aov-b-compostaje-mtco2e,wa-aov-c1-incineracion-mtco2e,wa-aov-d1-aguasdomesticas-mtco2e,wa-aov-d2-aguasindustriales-mtco2e,wa-emissions_total-mtco2e
7271,201,2050,0.456877,0.0,4.791374,1.689611,4.486217,11.424079,-86.317256,1.573694,...,0.0,0.464266,0.365368,6.077885,6.078382,0.059947,0.003228,1.220738,0.015828,7.378124
7307,202,2050,0.456877,0.0,4.939251,3.162814,4.619320,13.178263,-71.531390,1.573694,...,0.0,1.160475,0.365368,6.816618,6.468163,0.059947,0.004807,1.115710,0.015828,7.664455

In [28]:
df_ed = pd.read_csv(sr.fp_csv_experimental_design_msec)

In [30]:
df_ed

,master_id,design_id,time_series_id,run_id,strategy_id,future_id,year,cement_frac_biomass,cement_frac_coal,cement_frac_diesel,...,var_demanda_legna,fuel_price_coal,fuel_price_diesel,fuel_price_fuel_oil,fuel_price_natural_gas,investment_cost_csp_solar,investment_cost_geothermal,investment_cost_natural_gas_cc,investment_cost_pv_solar,investment_cost_wind
0,0,0,0,0,0,0,2015,0.000016,0.264204,0.020070,...,1.000000,64.100000,571.600000,395.700000,8.000000,7332.000000,5660.000000,2222.0,970.000000,1365.000000
1,0,0,0,0,0,0,2016,0.000016,0.264204,0.020070,...,1.000000,64.100000,571.600000,395.700000,8.000000,7332.000000,5660.000000,2222.0,970.000000,1365.000000
2,0,0,0,0,0,0,2017,0.000016,0.264204,0.020070,...,1.000000,64.100000,571.600000,395.700000,8.000000,7332.000000,5660.000000,2222.0,970.000000,1365.000000
3,0,0,0,0,0,0,2018,0.000016,0.263852,0.020056,...,1.000000,64.100000,571.600000,395.700000,8.000000,7332.000000,5660.000000,2222.0,970.000000,1365.000000
4,0,0,0,0,0,0,2019,0.000016,0.263821,0.020044,...,1.000000,64.100000,571.600000,395.700000,8.000000,7332.000000,5660.000000,2222.0,970.000000,1365.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29083,807,1,1,201,1,100,2046,0.000012,0.168903,0.019759,...,0.641575,60.928071,722.404810,562.244849,8.256822,4308.081648,5596.745253,1799.0,441.925734,1067.119844
29084,807,1,1,201,1,100,2047,0.000012,0.168301,0.019777,...,0.643022,61.040491,727.056967,569.594251,8.236591,4300.002513,5564.517506,1784.0,438.107209,1070.438563
29085,807,1,1,201,1,100,2048,0.000012,0.167835,0.019798,...,0.650108,61.147559,731.232032,576.666875,8.208582,4291.737320,5530.069429,1771.0,434.115161,1073.734417
29086,807,1,1,201,1,100,2049,0.000011,0.167473,0.019820,...,0.667079,61.318877,734.219310,583.304765,8.172213,4282.562480,5492.287473,1759.0,426.898075,1077.005729
29087,807,1,1,201,1,100,2050,0.000011,0.167187,0.019843,...,0.709198,61.480823,736.815709,589.724308,8.123724,4271.778316,5453.186785,1733.0,416.187257,1077.892651

In [5]:
df_ed = pd.read_csv(sr.fp_csv_experimental_design_msec)

In [79]:
#get gdp and years
pib = np.array(df_ed["pib"])
yrs = np.array(df_ed["year"])

#get differences to use to take as root of growth rate
yr_diff = yrs[1:] - yrs[0:(len(yrs) - 1)]
#get growth rate in pib
gr_pib_raw = pib[1:]/pib[0:(len(pib) - 1)] - 1
#set the exponents
vec_exp = np.array([max(1/x, 1) for x in yr_diff])
gr_pib = gr_pib_raw**vec_exp
#get position of negative elements
ind_new_years = [i for i, x in enumerate(yr_diff) if x == min(yr_diff)]
ind_new_years_ext = [i + 1 for i in ind_new_years]
#update
np.put(gr_pib, ind_new_years, gr_pib_raw[ind_new_years_ext])
#add initial growth rate
gr_pib = np.concatenate([np.array([gr_pib[0]]), gr_pib])
#add to output dataframe

In [80]:
df_check = pd.DataFrame(np.array([yrs, pib, gr_pib]).transpose(), columns = ["year", "pib", "gr"])

In [81]:
df_check.iloc[0:40]

      year         pib        gr
0   2015.0  242.215645  0.017111
1   2016.0  246.360171  0.017111
2   2017.0  249.288340  0.011886
3   2018.0  259.133537  0.039493
4   2019.0  262.030649  0.011180
5   2020.0  246.308810 -0.060000
6   2021.0  257.380392  0.044950
7   2022.0  265.657745  0.032160
8   2023.0  273.481365  0.029450
9   2024.0  280.838014  0.026900
10  2025.0  287.858965  0.025000
11  2026.0  295.055439  0.025000
12  2027.0  302.431825  0.025000
13  2028.0  309.992620  0.025000
14  2029.0  317.742436  0.025000
15  2030.0  325.685997  0.025000
16  2031.0  333.828147  0.025000
17  2032.0  342.173850  0.025000
18  2033.0  350.728197  0.025000
19  2034.0  359.496401  0.025000
20  2035.0  368.483811  0.025000
21  2036.0  377.695907  0.025000
22  2037.0  387.138304  0.025000
23  2038.0  396.584553  0.024400
24  2039.0  406.028734  0.023814
25  2040.0  415.465044  0.023240
26  2041.0  424.887800  0.022680
27  2042.0  434.291447  0.022132
28  2043.0  443.670566  0.021596
29  2044.0  453.019878  0.021073
30  2045.0  462.334251  0.020561
31  2046.0  471.608701  0.020060
32  2047.0  481.040875  0.020000
33  2048.0  490.661692  0.020000
34  2049.0  500.474926  0.020000
35  2050.0  510.484425  0.020000
36  2015.0  242.215645  0.017111
37  2016.0  246.360171  0.017111
38  2017.0  249.288340  0.011886
39  2018.0  259.133537  0.039493

In [74]:
np.array([max(x, 1) for x in (1/yr_diff)])

array([1., 1., 1., ..., 1., 1., 1.])

In [76]:
gr_pib_raw

array([0.01711089, 0.01711089, 0.01188573, ..., 0.02086971, 0.02044882,
       0.02003644])

In [66]:
602.788565*1.020036

614.8660366883399

In [91]:
df_out = pd.read_csv(sr.fp_csv_output_multi_sector_analytica)
df_out_py = pd.read_csv(sr.fp_csv_output_multi_sector)

In [98]:
importlib.reload(sr)

In [97]:
sr.fp_csv_gams_data_hidrologias

'/Users/jsyme/Documents/Projects/FY20/SWCHE102-1000/git/MultiSector_LTS_Chile/gams/pmr/data_input/data_hidrologias.csv'

In [114]:
df_data_hydro = df_data_hydro.sort_values(by = ["Probabilidad_Excedencia"]).reset_index(drop = True)
df_data_hydro

    Hidro  ID_Hidro  Probabilidad_Excedencia
0      17        17                 0.017241
1      19        19                 0.034483
2      18        18                 0.051724
3      30        30                 0.068966
4      43        43                 0.086207
5       2         2                 0.103448
6       9         9                 0.120690
7      15        15                 0.137931
8      39        39                 0.155172
9      23        23                 0.172414
10     16        16                 0.189655
11     20        20                 0.206897
12     42        42                 0.224138
13     38        38                 0.241379
14     24        24                 0.258621
15      3         3                 0.275862
16     31        31                 0.293103
17     14        14                 0.310345
18     32        32                 0.327586
19     29        29                 0.344828
20     10        10                 0.362069
21     40        40                 0.379310
22     21        21                 0.396552
23     12        12                 0.413793
24     34        34                 0.431034
25     22        22                 0.448276
26     37        37                 0.465517
27     56        56                 0.482759
28     28        28                 0.500000
29     45        45                 0.517241
30     11        11                 0.534483
31      4         4                 0.551724
32     41        41                 0.568966
33     46        46                 0.586207
34      8         8                 0.603448
35     25        25                 0.620690
36     58        58                 0.637931
37     13        13                 0.655172
38      6         6                 0.672414
39      1         1                 0.689655
40     44        44                 0.706897
41     55        55                 0.724138
42      7         7                 0.741379
43     27        27                 0.758621
44     26        26                 0.775862
45     51        51                 0.793103
46     57        57                 0.810345
47     47        47                 0.827586
48     33        33                 0.844828
49     52        52                 0.862069
50     48        48                 0.879310
51     49        49                 0.896552
52     36        36                 0.913793
53     35        35                 0.931034
54      5         5                 0.948276
55     50        50                 0.965517
56     53        53                 0.982759
57     54        54                 1.000000

In [127]:
##############################################################################
# Read data hydrologies from pmr data input; sort to ensure we can just take highest row that is less than or equal to prob
df_data_hydro = pd.read_csv(sr.fp_csv_gams_data_hidrologias)
df_data_hydro = df_data_hydro.sort_values(by = ["Probabilidad_Excedencia"]).reset_index(drop = True)

#hydrologies from the experimental design
df_ed_hyd = df_ed[df_ed["year"] == 2050][["master_id", "hydrology_exceedance_probability"]].copy().reset_index(drop = True)

#initialize
hydrological_scenarios = np.zeros(len(df_ed_hyd)).astype(int)
#loop to overwrite the scenarios
for i in range(len(df_ed_hyd)):
    prob = float(df_ed_hyd["hydrology_exceedance_probability"].iloc[i])
    tmp = np.where(df_data_hydro["Probabilidad_Excedencia"] <= prob)
    #get the associated hydro id
    hydro_id = int(df_data_hydro["ID_Hidro"].iloc[max(tmp[0])])
    #overwrite
    hydrological_scenarios[i] = hydro_id
#add to data frame
df_ed_hyd["Escenario_Hidrologico"] = hydrological_scenarios
df_ed_hyd = df_ed_hyd[["master_id", "Escenario_Hidrologico"]].rename(columns = {"master_id": "Escenario"})
            
#export data to data_input
df_ed_hyd.to_csv(sr.fp_csv_gams_data_hidrologias_escenarios, index = False, encoding = "UTF-8")

In [128]:
df_ed_hyd

    Escenario  Escenario_Hidrologico
0           0                     28
1           1                     55
2           2                     17
3           3                     28
4           4                     53
..        ...                    ...
83         83                     48
84         84                     31
85         85                     32
86         86                     12
87         87                      1

[88 rows x 2 columns]

In [110]:
df_ed_hyd = df_ed[df_ed["year"] == 2050][["master_id", "hydrology_exceedance_probability"]].reset_index(drop = True)
df_ed_hyd

    master_id  hydrology_exceedance_probability
0           0                          0.500000
1           1                          0.740404
2           2                          0.025609
3           3                          0.514045
4           4                          0.999787
..        ...                               ...
83         83                          0.894929
84         84                          0.299407
85         85                          0.339339
86         86                          0.414884
87         87                          0.694797

[88 rows x 2 columns]

In [131]:
df_ed = pd.read_csv(sr.fp_csv_experimental_design_msec)

    master_id  hydrology_exceedance_probability
0           0                          0.500000
1           1                          0.094414
2           2                          0.965847
3           3                          0.798345
4           4                          0.470477
..        ...                               ...
83         83                          0.525426
84         84                          0.867409
85         85                          0.185758
86         86                          0.337444
87         87                          0.266788

[88 rows x 2 columns]

In [136]:
df_data_hydro = pd.read_csv(sr.fp_csv_gams_data_hidrologias)

In [137]:
df_data_hydro

    Hidro  ID_Hidro  Probabilidad_Excedencia
0      17        17                 0.017241
1      19        19                 0.034483
2      18        18                 0.051724
3      30        30                 0.068966
4      43        43                 0.086207
5       2         2                 0.103448
6       9         9                 0.120690
7      15        15                 0.137931
8      39        39                 0.155172
9      23        23                 0.172414
10     16        16                 0.189655
11     20        20                 0.206897
12     42        42                 0.224138
13     38        38                 0.241379
14     24        24                 0.258621
15      3         3                 0.275862
16     31        31                 0.293103
17     14        14                 0.310345
18     32        32                 0.327586
19     29        29                 0.344828
20     10        10                 0.362069
21     40        40                 0.379310
22     21        21                 0.396552
23     12        12                 0.413793
24     34        34                 0.431034
25     22        22                 0.448276
26     37        37                 0.465517
27     56        56                 0.482759
28     28        28                 0.500000
29     45        45                 0.517241
30     11        11                 0.534483
31      4         4                 0.551724
32     41        41                 0.568966
33     46        46                 0.586207
34      8         8                 0.603448
35     25        25                 0.620690
36     58        58                 0.637931
37     13        13                 0.655172
38      6         6                 0.672414
39      1         1                 0.689655
40     44        44                 0.706897
41     55        55                 0.724138
42      7         7                 0.741379
43     27        27                 0.758621
44     26        26                 0.775862
45     51        51                 0.793103
46     57        57                 0.810345
47     47        47                 0.827586
48     33        33                 0.844828
49     52        52                 0.862069
50     48        48                 0.879310
51     49        49                 0.896552
52     36        36                 0.913793
53     35        35                 0.931034
54      5         5                 0.948276
55     50        50                 0.965517
56     53        53                 0.982759
57     54        54                 1.000000